<navbar></navbar>
<div *ngIf="readyToDisplayHtml">
	<p-table #dt [columns]="cols" [value]="transactions" [paginator]="true" [rows]="10">
		<ng-template pTemplate="caption">
			<div style="text-align: right">
				<i class="fa fa-search" style="margin:4px 4px 0 0"></i>
				<input type="text" pInputText size="50" placeholder="Global Filter"
					(input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
			</div>
		</ng-template>
		<ng-template pTemplate="header" let-columns>
			<tr>
				<th *ngFor="let col of columns" [pSortableColumn]="col.field" pReorderableColumn>
					{{col.header}}
					<p-sortIcon [field]="col.field"></p-sortIcon>
				</th>
			</tr>
			<tr>
				<th *ngFor="let col of columns" [ngSwitch]="col.field">
					<input *ngSwitchCase="'typeOfExpense'" pInputText type="text" readonly
						(input)="dt.filter($event.target.value, col.field, 'contains')">
					<input *ngSwitchCase="'edit'" pInputText type="text" readonly
						(input)="dt.filter($event.target.value, col.field, 'contains')">
					<input *ngSwitchDefault pInputText type="text"
						(input)="dt.filter($event.target.value, col.field, 'contains')">
					<p-dropdown *ngSwitchCase="'statusId'" [options]="states" [style]="{'width':'100%'}"
						(onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
				</th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-rowData let-columns="columns">
			<tr [pSelectableRow]="rowData">
				<td *ngFor="let col of columns">
					<img *ngIf="isIcon(col.field)" [src]="getImage(rowData[col.field])" width="60px;" height="auto;"/>
					<span *ngIf="isField(col.field)">{{rowData[col.field]}}</span>
					<span *ngIf="isAction(col.field)"><button pButton type="button" icon="pi pi-search-plus" label="View" (click)="edit(rowData['id'])"></button></span>
				</td>
			</tr>
		</ng-template>
	</p-table>



















</div>