<form *ngIf="isReadyToDisplayHtml">
	<p-panel [header]="'Transaction id: ' + transaction.id">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">            
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Id
                </div>
                <div class="ui-grid-col-4">
					<input type="text" pInputText [value]="transaction.id" [readOnly]="true"/>
				</div>
				<div class="ui-grid-col-2">
                    Uid
                </div>
                <div class="ui-grid-col-4">
					<input type="text" pInputText [value]="transaction.uid" [readOnly]="true"/>
                </div>
            </div>
			
			<div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Number
                </div>
                <div class="ui-grid-col-4">
					<input type="text" pInputText [value]="transaction.number" [readOnly]="true"/>
				</div>
				<div class="ui-grid-col-2">
                    Date
                </div>
                <div class="ui-grid-col-4">
					<input type="text" pInputText [value]="transaction.date" [readOnly]="true"/>
                </div>
            </div>


			<div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Description
                </div>
                <div class="ui-grid-col-4">
					<input type="text" pInputText [value]="transaction.description" [readOnly]="true"/>
				</div>
				<div class="ui-grid-col-2">
                    Status
                </div>
                <div class="ui-grid-col-4">
					<input type="text" pInputText [value]="transaction.status" [readOnly]="true"/>
                </div>
            </div>

			<div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Transaction Type
                </div>
                <div class="ui-grid-col-4">
					<input type="text" pInputText [value]="transaction.transactionType" [readOnly]="true"/>
				</div>
				<div class="ui-grid-col-2">
                    Payment Instrument
                </div>
                <div class="ui-grid-col-4">
					<input type="text" pInputText [value]="transaction.paymentInstrument" [readOnly]="true"/>
                </div>
            </div>

			<div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Transaction Amount
                </div>
                <div class="ui-grid-col-4">
					<input type="text" pInputText [value]="transaction.transactionAmount" [readOnly]="true"/>
				</div>
				<div class="ui-grid-col-2">
                    Payer IBAN
                </div>
                <div class="ui-grid-col-4">
					<input type="text" pInputText [value]="transaction.payerIBAN" [readOnly]="true"/>
                </div>
            </div>

			<div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Payer Currency
                </div>
                <div class="ui-grid-col-4">
					<input type="text" pInputText [value]="transaction.payerCurrency" [readOnly]="true"/>
				</div>
				<div class="ui-grid-col-2">
                    Receiver IBAN
                </div>
                <div class="ui-grid-col-4">
					<input type="text" pInputText [value]="transaction.receiverIBAN" [readOnly]="true"/>
                </div>
            </div>

			<div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Receiver Currency
                </div>
                <div class="ui-grid-col-4">
					<input type="text" pInputText [value]="transaction.receiverCurrency" [readOnly]="true"/>
				</div>
				<div class="ui-grid-col-2">
                    Receiver Exchange Rate
                </div>
                <div class="ui-grid-col-4">
					<input type="text" pInputText [value]="transaction.receiverExchangeRate" [readOnly]="true"/>
                </div>
            </div>

			<div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Swift Code
                </div>
                <div class="ui-grid-col-4">
					<input type="text" pInputText [value]="transaction.swiftCode" [readOnly]="true"/>
				</div>
				<div class="ui-grid-col-2">
                    Model
                </div>
                <div class="ui-grid-col-4">
					<input type="text" pInputText [value]="transaction.model" [readOnly]="true"/>
                </div>
            </div>

			<div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Reference Number
                </div>
                <div class="ui-grid-col-4">
					<input type="text" pInputText [value]="transaction.referenceNumber" [readOnly]="true"/>
				</div>
				<div class="ui-grid-col-2">
                    Usage Code
                </div>
                <div class="ui-grid-col-4">
					<input type="text" pInputText [value]="transaction.usageCode" [readOnly]="true"/>
                </div>
            </div>

			<div class="ui-grid-row">
                <button pButton type="button" label="Back" (click)=navigateBack()></button>
            </div>

		</div>
	</p-panel>
</form>